<div id="password-container">
    <mat-card id="password">
        <mat-card-content>
            <mat-card-title id="password-title"> {{ 'password.title' | translate }} </mat-card-title>
            <div id="mat-form-container">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label> {{ 'registration.email' | translate }} </mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" id="password-button"> {{ 'password.button' | translate }} </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>