#stepper{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;

    #pricing-end{
        display: flex;
        flex-direction: row;

        #pricing-title{
            margin-right: 3%;
        }

        ::ng-deep .mat-chip-list{
            margin-right: 0 !important;
            margin-left: auto !important;
        }
    }

    .back{
        margin-right: 1rem;
    }

    ::ng-deep .mat-list-item{
        margin-bottom: 1rem !important;
        padding-top: 1rem !important;
        padding-bottom: 2rem !important;
    
        ::ng-deep .mat-list-text{
    
        }
    }
    
    #indicator{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;

        #indicator-title{
            display: flex;
            flex-direction: row;

            #title{
                margin-right: 3%;
            }
        }
    
        #indicator-slider{
            margin-left: auto !important;
            margin-right: auto !important;
        }
    
        #indicator-price{
            margin-left: auto !important;
            margin-right: 0 !important;
        }
    
        #indicator-description{
            color: #0e2636 !important;
        }
    }

    ::ng-deep .mat-expansion-panel {
        margin-bottom: 1% !important;
        // display: flex !important;
        // flex-direction: row !important;
    
        ::ng-deep .mat-expansion-panel-header{
            display: flex !important;
            flex-direction: row !important;
            height: 3rem;
        
            ::ng-deep .mat-radio-button {
                justify-self: start !important;
                padding-left: 1.5%;
                // width: 20% !important;
    
                ::ng-deep .mat-radio-label-content {
                    width: 100% !important;
                    display: flex !important;
                    flex-direction: row !important;
    
                        
                        // ::ng-deep .mat-expansion-panel-header-description {
                        //     display: flex !important;
                        //     justify-content: end !important;
                        // }
                    
                }
            }
        }
    }
}





.button {
    margin-top: 3%;
}

